.generate-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.generate-button {
  --blue-600: hsl(217 91% 60%);
  --blue-500: hsl(217 98% 61%);
  --blue-400: hsl(217 100% 70%);
  --blue-dark: hsl(217 80% 25%);
  --border-radius: 9999px;
  --transition: 0.3s ease-in-out;
  --offset: 2px;

  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  transform-origin: center;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius);
  transform: scale(calc(1 + (var(--active, 0) * 0.1)));
  transition: transform var(--transition);
}

/* background gradient */
.generate-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, var(--blue-500) 0%, var(--blue-600) 100%);
  border-radius: var(--border-radius);
  box-shadow:
    inset 0 0.5px hsl(0, 0%, 100%),
    inset 0 -1px 2px 0 hsl(0, 0%, 0%),
    0px 4px 10px -4px hsla(217 91% 60% / calc(1 - var(--active, 0))),
    0 0 0 calc(var(--active, 0) * 0.375rem) hsl(217 98% 61% / 0.75);
  transition: all var(--transition);
  z-index: 0;
}

.generate-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: hsla(217 98% 61% / 0.75);
  background-image: radial-gradient(at 51% 89%, hsla(217 100% 75%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 100%, hsla(217 85% 65%, 1) 0px, transparent 50%),
    radial-gradient(at 22% 91%, hsla(217 85% 65%, 1) 0px, transparent 50%);
  background-position: top;
  opacity: var(--active, 0);
  border-radius: var(--border-radius);
  transition: opacity var(--transition);
  z-index: 2;
}

.generate-button:is(:hover:not(:disabled), :focus-visible) {
  --active: 1;
}

.generate-button:active:not(:disabled) {
  transform: scale(1);
}

.generate-button .dots-border {
  --size-border: calc(100% + 2px);
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--size-border);
  height: var(--size-border);
  background-color: transparent;
  border-radius: var(--border-radius);
  z-index: -10;
}

.generate-button .dots-border::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left;
  width: 100%;
  height: 2rem;
  background-color: var(--blue-400);
  mask: linear-gradient(transparent 0%, white 120%);
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.generate-button .sparkle {
  position: relative;
  z-index: 10;
  width: 1.25rem;
  transition: opacity 0.3s ease-in-out;
}

.generate-button .sparkle.hidden {
  opacity: 0;
  display: none;
}

.generate-button .sparkle .path {
  fill: currentColor;
  stroke: currentColor;
  transform-origin: center;
  color: hsl(0, 0%, 100%);
}

.generate-button:is(:hover:not(:disabled), :focus:not(:disabled)) .sparkle:not(.hidden) .path {
  animation: path 1.5s linear 0.5s infinite;
}

.generate-button .sparkle .path:nth-child(1) {
  --scale-path-1: 1.2;
}

.generate-button .sparkle .path:nth-child(2) {
  --scale-path-2: 1.2;
}

.generate-button .sparkle .path:nth-child(3) {
  --scale-path-3: 1.2;
}

@keyframes path {
  0%, 34%, 71%, 100% {
    transform: scale(1);
  }
  17% {
    transform: scale(var(--scale-path-1, 1));
  }
  49% {
    transform: scale(var(--scale-path-2, 1));
  }
  83% {
    transform: scale(var(--scale-path-3, 1));
  }
}

.generate-button .text-button {
  position: relative;
  z-index: 10;
  background-image: linear-gradient(90deg, hsla(0 0% 100% / 1) 0%, hsla(0 0% 100% / var(--active, 0)) 120%);
  background-clip: text;
  font-size: 0.875rem;
  color: transparent;
  transition: all var(--transition);
}

.generate-button .loader {
  position: relative;
  z-index: 10;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.generate-button .loader.visible {
  opacity: 1;
  visibility: visible;
}

.generate-button .loader .spinner {
  width: 1.1rem;
  height: 1.1rem;
  border: 2px solid transparent;
  border-top: 2px solid var(--blue-400);
  border-right: 2px solid var(--blue-400);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
